__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
venv.bak/
*.egg
*.egg-info/
dist/
build/
*.pyc
instance/
.webassets-cache
htmlcov/
.tox/
.coverage
.cache
.pytest_cache/
nosetests.xml
coverage.xml
.vscode/
.idea/
*.swp
*.swo
*~
Thumbs.db
Desktop.ini
pylint-report.txt
mypy-report.json
.env