<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Library</title>
    <style>
      /* Apply flexbox to list items to align content horizontally */
      li {
        display: flex;
        align-items: center; /* Align items vertically */
        list-style: none; /* Remove bullet points */
        margin-bottom: 10px; /* Add spacing between list items */
      }

      a {
        margin-left: 10px; /* Add spacing between text and link */
        text-decoration: none; /* Remove underline from links */
        color: blue; /* Link color */
      }
    </style>
  </body>

  </head>
  <body>
    <h1>My Library</h1>
    <ul>
      <!-- Library|length is used to get no of item in Library its check wheter list is empty or not -->
      {% if library|length == 0%}
      <li><p>Library is empty.</p></li>
      {% else %} {% for i in library:%}
      <li>
        <span>{{ i.title }} - {{ i.author }} - {{ i.rating }}/10</span>
        <a href="{{ url_for('edit', id=i.id) }}">Edit Rating</a>
        <a href="{{url_for('delete',id=i.id)}}">Delete Book</a>
      </li>
      
      {% endfor %} {% endif %}
    </ul>

    <a href="{{url_for('add')}}">Add New Book</a>
  </body>
</html>
