<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Library</title>
  </head>
  <body>
    <h1>My Library</h1>
    <ul>
      <!-- Library|length is used to get no of item in Library its check wheter list is empty or not -->
      {% if library|length == 0%}
      <li><p>Library is empty.</p></li>
      {% else %} {% for i in library:%}
      <li>
        <span>
          <p>{{i.title}} - {{i.author}} - {{i.rating}}/10</p>
          <a href="{{url_for('edit',id=i.id)}}"> Edit Rating </a>
        </span>
      </li>

      {% endfor %} {% endif %}
    </ul>

    <a href="{{url_for('add')}}">Add New Book</a>
  </body>
</html>
